.hoverWrapper {
  .hoverContent {
    display: none;
  }

  .defaultContent {
    display: block;
  }

  &:hover {
    .hoverContent {
      display: block;
    }

    .defaultContent {
      display: none;
    }
  }
}
