.hoverWrapper {
  display: inline;

  .hoverContent {
    display: none;
  }

  .defaultContent {
    display: inline;
  }

  &:hover {
    .hoverContent {
      display: inline;
    }

    .defaultContent {
      display: none;
    }
  }
}
