@import 'config/colors';

.name {
  cursor: pointer;

  &:hover .fullname {
    text-decoration: underline;
    color: $link-hover-color;
  }
}

.middot {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
