.size-small {
  font-size: 12px;
  line-height: 20px;
}

.size-normal {
  font-size: 14px;
  line-height: 22px;
}

.size-large {
  font-size: 16px;
  line-height: 24px;
}

.size-xlarge {
  font-size: 18px;
  line-height: 26px;
}

.size-xxlarge {
  font-size: 20px;
  line-height: 28px;
}

.color-primary {
  color: #14171a;
}

.color-link {
  color: #1890ff;
}

.color-secondary {
  color: #657786;
}

.color-contrast {
  color: #fff;
}

.hover-color-primary:hover {
  color: #14171a;
}

.hover-color-link:hover {
  color: #1890ff;
}

.hover-color-secondary:hover {
  color: #657786;
}

.hover-color-contrast:hover {
  color: #fff;
}

.bold {
  font-weight: 600;
}
