.container {
  margin: -1rem;
}

.cover {
  padding-bottom: 1 / 3 * 100%;
  position: relative;

  .coverThumb {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    object-fit: cover;
  }
}

.userInfo {
  position: relative;

  .avatar {
    position: absolute;
    left: 1rem;
    top: -30px;
    border: 4px solid #fff;
    border-radius: 999px;

    .avatarThumb {
      border: 0;
      outline: 0;
      box-shadow: 0;
    }
  }
}

.userNames {
  margin-left: calc(1rem + 60px + 8px + 0.25rem);
  padding-top: 0.25rem;
}

.stats {
  display: flex;
  padding: 0 0.5rem;

  .statsGroup {
    flex: 33.3333333% 0 0;
    padding: 0.5rem;
    min-width: 0;
  }
}
