$text-primary-color: rgba(0, 0, 0, 0.65);
$text-primary-bg: #fff;

$text-secondary-color: #657786;

$btn-danger-bg: #ff4d4f;
$btn-danger-color: #fff;

$btn-primary-bg: #1890ff;
$btn-primary-color: #fff;

$link-color: #1890ff;
$link-hover-color: #40a9ff;

$bg-primary-color: #f0f2f5;

