@import 'config/colors';

.container {
  display: flex;
  flex-wrap: wrap;
}

.contextIcon {
  flex: 40px 0 0;
  text-align: right;
}

.context {
  flex: calc(100% - 40px) 0 0;
  margin-bottom: 0.5rem;
  padding-left: 1rem;
}

.avatar {
  flex: 40px 0 0;
}

.post {
  flex: calc(100% - 40px) 0 0;
  padding-left: 1rem;

  p,
  figure {
    margin: 0;
  }
}

.media {
  display: block;
  width: 100%;
}

.actions {
  margin-top: 1rem;
  display: flex;
  width: 240px;

  .actionButton {
    line-height: 1;
    height: auto;
    border: 0;
    flex: 80px 0 0;
    text-align: left;
    padding: 0;

    &::after {
      display: none !important;
    }

    svg,
    span {
      transition: color 0.15s ease;
    }

    &:hover {
      &.replyButton * {
        color: #1da1f2 !important;
      }

      &.retweetButton * {
        color: #17bf63 !important;
      }

      &.favoriteButton * {
        color: #e0245e !important;
      }
    }

    .actionCount {
      margin-left: 0.5rem;
    }
  }
}
