.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  background: #fff;
  padding: 0;
  height: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.innerHeader {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.menu {
  line-height: 64px;
  border: 0;

  .menuItem {
    font-weight: 600;
  }

  .menuIcon {
    font-size: 1.5em;
    margin-right: 0.25em;
  }
}

.submenu {
  @extend .menu;

  float: right;
  padding-left: 0;
  padding-right: 0;
  border-bottom-color: transparent !important;
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
.submenu:global(.ant-menu-item-active) {
  .avatar {
    box-shadow: 0 0 0 2px #ffffff, 0 0 2px 4px rgba(24, 144, 255, 0.4);
    transition: box-shadow 0.3s;
  }
}

.dropdownIcon {
  margin-left: 0.5em;
}
