.menu {
  padding: 0.75rem 1rem 1rem;
  width: 275px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  word-break: normal;
}

.groupTitle {
  margin-bottom: 0.25rem;
}

.formItem {
  margin-bottom: 0.5rem;
}

.divider {
  margin: 1rem 0 0.5rem;
}

.button {
  margin-top: 0.25rem;
}
