.container {
  display: flex;

  .colLeft {
    flex: 40px 0 0;
  }

  .colRight {
    flex: calc(100% - 40px) 0 0;
    padding-left: 1rem;
    padding-right: 1rem;

    .names {
      max-width: calc(100% - 100px);
      display: inline-block;
      vertical-align: bottom;
    }

    p {
      margin-bottom: 0.5rem;
    }
  }
}
